{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="description" content="ModelNetwork | Concurso de nuestras mas preciadas modelos todo sobre un viaje a Dubai">
    <meta name="keywords" content="thebreaknetwork, Network, Dubai, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="./img/logonet.png" />
    <title>Home | ModelNetwork</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@1,900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="{% static 'appweb/css/themify-icons.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'appweb/css/owl.carousel.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'appweb/css/magnific-popup.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'appweb/css/slicknav.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'appweb/css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'appweb/css/style.css' %}" type="text/css">
</head>

<header class="header-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 logo">
                <a href="#">
                    <img class="img-logo" src="{% static 'appweb/img/logonet.png' %}" alt="">
                </a>
            </div>
            <div class="col-lg-10 col-md-10">
                <div class="main-menu mobile-menu">
                    <ul>
                        <li><a href="javascript: history.go(-1)">Back</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="mobile-menu-wrap"></div>
    </div>
</header>

{% load crispy_forms_tags %}
<section class='spad'>
    <div class=''>
            <div class="col-lg-6 card">
                <div class="contact-option">
                    <div class="">
                        <h4 class="">Nuevo Modelo</h4>
                    </div>
                    <form action="" method="post" class="comment-form contact-form " enctype="multipart/form-data" style="
                    color: #a06f1d;">
                        {%csrf_token%}
                        {{form | crispy}}
                        <div class="d-flex justify-content-center">
                            <input type="submit" value="Guardar" Class="site-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="footer-section">
    <div class="copyright-text"><p>
        <i class="" aria-hidden="true"></i> <a href="https://www.adgforce.com" target="_blank">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by ADG FORCE</a>
        </p></div>
    </div>
</section>
<!-- Footer Section End -->

<button
type="button"
class="mt-social"
id="btn-back-to-top"
>
<i class="fa fa-arrow-up"></i>
</button>

<script src="https://kit.fontawesome.com/c91be6c069.js" crossorigin="anonymous"></script>
<!-- Js Plugins -->
<script src="{% static 'appweb/js/jquery-3.3.1.js' %}"></script>
<script src="{% static 'appweb/js/bootstrap.js' %}"></script>
<script src="{% static 'appweb/js/jquery.magnific-popup.js' %}"></script>
<script src="{% static 'appweb/js/mixitup.js' %}"></script>
<script src="{% static 'appweb/js/jquery.slicknav.js' %}"></script>
<script src="{% static 'appweb/js/owl.carousel.js' %}"></script>
<script src="{% static 'appweb/js/main.js' %}"></script>

</body>